{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["standard", "prettier", "prettier/standard"],
  "env": {
    "mocha": true
  },
  "rules": {
    "no-unused-vars": 0
  }
}
